<div class="hidden-xs">
    <div class="hidden-xm">
        <div class="row">
          <div class="col-md-4">
            <h3>Tandale Ward</h3>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Today Weather</h3>
              </div>
              <div class="panel-body todayContent">
                <div class="row">
                  <div class="col-md-3 col-sm-3 today">
                    <div class="panel panel-default">
                      <!-- <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                      </div> -->
                      <div class="panel-body">
                        <div class="row">
                          <div id="time">
                            {{ time }}
                          </div>
                        </div>
                        <div class="row">
                          <div id="date">
                            {{ date }}
                          </div>
                        </div>
                        <div>
                          <div id="day">
                            {{ day }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 today">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Temperature in &#x2103;</h3>
                      </div>
                      <div class="panel-body">
                        Panel content
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 today">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                      </div>
                      <div class="panel-body">
                        Panel content
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 today">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                      </div>
                      <div class="panel-body">
                        Panel content
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </div>
        
    </div>
</div>

<div class="hidden-md">
    <div class="hidden-lg">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <h3>Tandale Ward</h3>
          </div>
        </div>
    </div>
</div>


